<!doctype html>

<html lang='en'>
<head>
    <meta charset='utf-8'>

    <title>Iggy Error</title>
    <meta name='description' content='Default Iggy Error Page'>
</head>

<body>
<h1>Iggy Error: {{ error.code }}</h1>
<p>{{ error.message }}</p>
<hr />
<p>
    Create a default 404 template ('errors/404.html.twig')
    to avoid seeing this default message.
</p>
</body>
</html>