{% extends '_templates/base.html.twig' %}
{% block page_header %}
    <h1>Ruh-Roh!</h1>
    <hr/>
{% endblock %}
{% block page_content %}
    {% block error_content %}
        <h2>Whoops!  That's an error</h2>
        <p>The site generated a <strong>{{ httpCode }}</strong> error.</p>
        <hr />
        <p>The server said: <em>{{ message }}</em></p>
    {% endblock %}
{% endblock %}